<div class="list-header">
	<h2>Список задач</h2>
	<button mat-flat-button color="primary" (click)="onAddTask()">Добавить задачу +</button>
</div>

<tasks-filter-sort></tasks-filter-sort>

<div class="task-list">
	<mat-list>
		@for (item of tasks$ | async; track $index) {
			<tasks-item
				[task]="item"
				(updateTask)="onUpdateTask($event)"
				(addTask)="onAddTask()"
				(removeTask)="onRemoveTask($event)"
			></tasks-item>

			@if (!$last) {
				<mat-divider></mat-divider>
			}
		} @empty {
			<p>Пока что пусто, добавьте задачу</p>
		}
	</mat-list>
</div>
