.mat-drawer-container {
  height: 100%;
}
.mat-drawer {
  padding: 50px 5px;
}

nav {
  a {
    display: flex;
    text-transform: uppercase;
    text-decoration: none;
  }
}

.container {
  padding: 50px 25px;
}
