.mat-drawer-container {
	height: 100%;
}
.mat-drawer {
	padding: 50px 5px;
	background-color: var(--bg-primary);
}

nav {
	display: flex;
	flex-direction: column;
	gap: 5px;

	a {
		display: flex;
		text-decoration: none;
		text-transform: uppercase;
	}
}

.container {
	padding: 50px 25px;
}
