.mat-drawer-container {
	height: 100%;
}
.mat-drawer {
	padding: 50px 5px;
	background-color: var(--bg-primary);
}

nav {
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 5px;

	a {
		display: flex;
		text-decoration: none;
		text-transform: uppercase;
	}
}

.container {
	padding: 50px 25px;
}

.sidebar {
	nav {
		flex-direction: column;
	}

	@media (max-width: 1000px) {
		display: none;
	}
}

.toolbar-mob {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 5;
	background-color: var(--bg-primary);
	backdrop-filter: blur(10px);

	.mat-toolbar {
		background-color: transparent;
	}

	@media (min-width: 1000px) {
		display: none;
	}
}

.drawer-content {
	@media (max-width: 1000px) {
		padding-bottom: 64px;
	}
}
