<mat-card class="tasks-category-item tci">
	<mat-card-header class="tci__header">
		<mat-card-title>
			<span>({{ tasks.length }})</span>
			<input
				type="text"
				class="tci__title"
				placeholder="Название проекта"
				[(ngModel)]="category.title"
				(keyup.enter)="(category.title)"
				(blur)="updateCategory.emit(category)"
				#categoryInputRef
			/>
		</mat-card-title>

		<app-delete-btn (click)="removeCategory.emit(category.id)"></app-delete-btn>
	</mat-card-header>

	<mat-card-content class="task-category">
		@for (task of tasks; track $index) {
			@if ($index > tasks.length - 4) {
				<div class="tci__task" [class.done]="task.status">
					<p>- {{ task.title }}</p>
					<mat-icon fontIcon="check" [style.display]="task.status ? '' : 'none'"></mat-icon>
				</div>
			}
		}
	</mat-card-content>

	<mat-card-actions align="end">
		<a [routerLink]="'tasks/' + category.id" mat-flat-button color="accent"> Перейти к проекту </a>
	</mat-card-actions>
</mat-card>
