.tci {
	&:hover {
		.tci__header {
			background: var(--bg-accent);
		}
		app-delete-btn {
			opacity: 1;
		}
	}

	&__header {
		padding: 10px 16px;
		transition: all 0.3s ease;

		input {
			font-size: inherit;
			font-weight: 600;
			border: none;
			background: transparent;
			&:disabled {
				background: inherit;
				color: inherit;
			}
		}
	}

	app-delete-btn {
		opacity: 0;
		transition: all 0.3s ease;
	}
}
