<mat-card class="tasks-category-item tci">
	<mat-card-header class="tci__header">
		<mat-card-title>
			<input
				type="text"
				class="tci__title"
				placeholder="Название проекта"
				[(ngModel)]="category.title"
				(keyup.enter)="(category.title)"
				(blur)="updateCategory.emit(category)"
				#categoryInputRef
			/>
		</mat-card-title>

		<app-delete-btn (click)="removeCategory.emit(category.id)"></app-delete-btn>
	</mat-card-header>

	<mat-card-content class="task-category">
		@for (item of tasks$ | async; track $index) {
			@if ($index < 3) {
				<div class="tci__task">
					<mat-icon fontIcon="check_box_outline_blank" [style.display]="item.status ? 'none' : ''">
					</mat-icon>
					<mat-icon fontIcon="check_box" [style.display]="item.status ? '' : 'none'"></mat-icon>
					{{ item.title }}
				</div>
			} @else {
				<p>И так далее...</p>
			}
		}
	</mat-card-content>

	<mat-card-actions align="end">
		<a [routerLink]="'tasks-category/' + category.id" mat-flat-button color="accent">
			Перейти к проекту
		</a>
	</mat-card-actions>
</mat-card>
