<div class="deadline">
	<mat-form-field>
		<mat-label>Дедлайн -></mat-label>
		<input
			#dataInput
			matInput
			[matDatepicker]="dp3"
			(dateChange)="onDate(task.deadline)"
			[(ngModel)]="task.deadline"
			disabled
		/>
		<mat-datepicker-toggle matIconSuffix [for]="dp3"></mat-datepicker-toggle>
		<mat-datepicker #dp3 disabled="false"></mat-datepicker>
	</mat-form-field>

	@if (this.task.deadline) {
		<button class="btn btn-clear" (click)="onResetDate()">
			<mat-icon
				aria-hidden="false"
				aria-label="Очистить"
				fontIcon="close"
				class="app-icon"
			></mat-icon>
		</button>
	}
</div>
