/* You can add global styles to this file, and also import other style files */

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--bg-white-gray: #fafafa;
	--bg-primary: #673ab710;
	--bg-accent: #ffd74020;
	--bg-: #ffd74020;

	--bg-green-015: #00800015;
	--bg-yellow-015: #ff000015;
	--bg-red-015: #ffff0015;
	--bg-blue-015: #0000ff15;
}

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.2s ease;
	background-color: transparent;
	cursor: pointer;
	border: none;
	padding: 0;

	.--hover-opacity {
		&:hover {
			opacity: 0.6;
		}
	}
}

.tasks-item {
	transition: all 0.3s ease;

	&:hover {
		background: var(--bg-primary);

		.tasks-item__title input {
			background: #fff !important;
		}
	}
}

.list-header {
	margin: 10px 0 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;

	h2 {
		margin: 0;
	}
}

app-delete-btn {
	margin-left: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.app-icon {
	color: #555;
}

.tasks-item {
	.mat-mdc-form-field {
		margin-bottom: -22px;
		font-size: 12px;
		width: 160px;
	}
	.mat-mdc-select {
		font-size: inherit;
	}
}

.mat-select {
	&-green {
		.mdc-text-field--filled:not(.mdc-text-field--disabled) {
			background-color: var(--bg-green-015);
		}
	}
	&-yellow {
		.mdc-text-field--filled:not(.mdc-text-field--disabled) {
			background-color: var(--bg-yellow-015);
		}
	}
	&-red {
		.mdc-text-field--filled:not(.mdc-text-field--disabled) {
			background-color: var(--bg-red-015);
		}
	}
	&-blue {
		.mdc-text-field--filled:not(.mdc-text-field--disabled) {
			background-color: var(--bg-blue-015);
		}
	}
}
