/* You can add global styles to this file, and also import other style files */

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--c-primary: #673ab7;
	--c-accent: #ffd740;

	--bg-white-gray: #fafafa;
	--bg-primary: #673ab710;
	--bg-accent: #ffd74020;

	--bg-green-015: #00800015;
	--bg-yellow-015: #ff000015;
	--bg-red-015: #ffff0015;
	--bg-blue-015: #0000ff15;

	--trans-03s: all 0.3s ease;
}

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.2s ease;
	background-color: transparent;
	cursor: pointer;
	border: none;
	padding: 0;

	.--hover-opacity {
		&:hover {
			opacity: 0.6;
		}
	}
}

.tasks-item {
	transition: var(--trans-03s);

	&:hover {
		background: var(--bg-primary);

		.tasks-item__title input {
			background: #fff !important;
		}
		.mdc-text-field--filled:not(.mdc-text-field--disabled) {
			background-color: #fff;
		}
	}

	.mdc-text-field--filled:not(.mdc-text-field--disabled) {
		background-color: transparent;
		transition: var(--trans-03s);
	}

	.mdc-line-ripple {
		display: none !important;
	}
}

.list-header {
	margin: 10px 0 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;

	h2 {
		margin: 0;
	}
}

app-delete-btn {
	margin-left: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.app-icon {
	color: #555;
}

.tasks-item {
	.mat-mdc-form-field {
		margin-bottom: -22px;
		font-size: 12px;
		width: 160px;
	}
	.mat-mdc-select {
		font-size: inherit;
	}
}

.tasks-table {
	--table-fields-bg: transparent;

	.mat-select {
		&-green {
			.mdc-text-field--filled:not(.mdc-text-field--disabled) {
				background-color: var(--bg-green-015);
			}
		}
		&-yellow {
			.mdc-text-field--filled:not(.mdc-text-field--disabled) {
				background-color: var(--bg-yellow-015);
			}
		}
		&-red {
			.mdc-text-field--filled:not(.mdc-text-field--disabled) {
				background-color: var(--bg-red-015);
			}
		}
		&-blue {
			.mdc-text-field--filled:not(.mdc-text-field--disabled) {
				background-color: var(--bg-blue-015);
			}
		}
	}

	.mat-mdc-form-field-subscript-wrapper,
	.mdc-line-ripple {
		display: none !important;
	}

	.mat-mdc-text-field-wrapper,
	.mdc-text-field--filled:not(.mdc-text-field--disabled) {
		background-color: var(--table-fields-bg);
		transition: var(--trans-03s);
		border-radius: 5px;

		@media (max-width: 1000px) {
			width: 150px;
			font-size: 14px;
		}
	}

	.mat-mdc-row {
		transition: var(--trans-03s);

		&:hover {
			background-color: var(--bg-primary);
			--table-fields-bg: #fff;
		}
	}

	.mat-mdc-form-field-focus-overlay {
		transition: var(--trans-03s);
	}
}

.tasks-filter {
	.mat-mdc-form-field-subscript-wrapper,
	.mdc-line-ripple {
		display: none !important;
	}
}

.dispay-none {
	display: none;
}

body .mat-mdc-form-field-focus-overlay {
	transition: var(--trans-03s);
}
body .mat-mdc-text-field-wrapper,
body .mdc-text-field--filled:not(.mdc-text-field--disabled) {
	transition: var(--trans-03s);
	border-radius: 5px;

	@media (max-width: 1000px) {
		font-size: 14px;
		width: 100%;
	}
}

body .table-paginator {
	.mat-mdc-paginator {
		background-color: transparent;
	}
}
